strong {
  font-weight: bold;
}
hr {
  color: black;
  height: 2px;
}
.candidatura-div {
  display: flex;
  flex-direction: row;
  border: 2px solid dodgerblue;
  background-color: #b2e7ff;
  align-items: center;
  justify-content: space-between;
  padding: 1vh;
}
.span-aberta {
  display: inline-flex;
  border: 2px green solid;
  border-radius: 6px;
  background-color: #73ff73;
  padding: 0.5vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.span-fechada {
  display: inline-flex;
  border: 2px #370000 solid;
  border-radius: 6px;
  background-color: #ff5454;
  padding: 0.5vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

