<div class="candidatura-div">
  <h2>Minhas Candidaturas</h2>
</div>

<div *ngFor="let candidatura of candidaturas">
  <div >
    <p [class]="getStatusClass(candidatura.vaga.status)">
      {{candidatura.vaga.status}}
    </p>
  </div>
  <p><strong>{{candidatura.vaga.titulo}}</strong></p>
  <p><strong>Empresa:</strong> {{candidatura.vaga.farmacia.nome}}</p>
  <p><strong>Local:</strong> {{candidatura.vaga.cidade}} - {{candidatura.vaga.estado}}</p>
  <p><strong>Descricao:</strong> {{candidatura.vaga.descricao}}</p>
  <p><strong>Salario:</strong> {{candidatura.vaga.salario | currency: 'BRL'}}</p>
  <p><strong>Tipo:</strong> {{candidatura.vaga.tipo}}</p>
  <p><strong>Turno:</strong> {{candidatura.vaga.turno}}</p>

  <div *ngIf="candidatura.contrato" class="div-candidaturas">
    <strong>Contrato</strong>
    <p><strong>Data Inicio:</strong> {{candidatura.contrato.dataInicio}}</p>
    <p><strong>Data Fim:</strong> {{candidatura.contrato.dataFim}}</p>
    <p>Status do contrato: {{candidatura.contrato.status}}</p>

    <div *ngIf="candidatura.contrato.status == 'ENVIADO'">
      <button (click)="aceitarContrato(candidatura.contrato)" class="btn-green">
        Aceitar contrato
      </button>
    </div>
  </div>
  <hr>
</div>

