strong {
  font-weight: bold;
}
hr {
  color: black;
}
.div-titulo {
  display: flex;
  flex-direction: row;
  border: 2px solid dodgerblue;
  background-color: #b2e7ff;
  align-items: center;
  justify-content: space-between;
  padding: 1vh;
}
.div-candidaturas {
  border: 2px #370000 solid;
  border-radius: 6px;
  background-color: #006ca5;
  padding: 0.5vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
p {
  font-size: 25px;
}
.div-status {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.div-status > div {
  margin-left: 1vh;
}
.div-status > h2 {
  margin-right: 2vh;
}
.outer-div-candidaturas {
  padding: 2vh;
}
