strong {
  font-weight: bold;
}
hr {
  color: black;
}
p {
  font-size: 25px;
}
span {
  font-size: 16px;
}
.div-titulo {
  display: flex;
  flex-direction: row;
  background-color: #336699;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  min-height: 43px;
}
.div-titulo>h2 {
  color: #FFF;
}
.div-status > h2 {
  margin-right: 2vh;
}
.outer-div-candidaturas {
  background-color: #FFF;
  margin-bottom: 1vh;
  padding: 2vh;
  line-height: 40px;
}
.div-status {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.div-status > div {
  margin-left: 1vh;
}
.div-status > p {
  margin-right: 1vh;
  font-weight: 600;
}
.div-candidatura {
  background-color: #dadada;
  padding: 10px;
  margin-bottom: 20px;
}
.div-candidatura > h4 {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 20px;
}
#div-vagas {
  padding: 2vh;
  line-height: 40px;
}
.div-btn-contrato {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vh;
}
.div-btn-contrato>button {
    padding: 10px 100px;
    border-radius: 10px;
    margin: 10px;
}
