<div *ngIf="vaga">
  <button id="btn-fechar" (click)="deselecionarVaga()" class="btn-red">X</button>
  <br><br>
  <ul>
    <li><strong>Vaga {{vaga.id}}</strong></li>
    <li><span>Empresa:</span> {{vaga.farmacia.nome}}</li>
    <li><span>Local:</span> {{vaga.cidade}} - {{vaga.estado}}</li>
    <li><span>Descricao:</span> {{vaga.descricao}}</li>
    <li><span>Quantidade Vagas:</span> {{vaga.quantidadeVagas}}</li>
    <li><span>Salario:</span> {{vaga.salario}}</li>
    <li><span>Tipo:</span> {{vaga.tipo}}</li>
    <li><span>Turno:</span> {{vaga.turno}}</li>
    <li><span>Data publicada:</span> {{vaga.dataPublicada | date: 'dd/MM/yyyy'}}</li>
    <li><button (click)="irParaCandidatura()">Candidatar-se</button></li>
  </ul>
</div>
