<div *ngIf="vaga">
  <button (click)="deselecionarVaga()" class="btn btn-red">X</button>
  <br><br>
  <ul>
    <li><strong>{{vaga.titulo}}</strong></li>
    <li><span>Empresa:</span> {{vaga.farmacia.nome}}</li>
    <li><span>Local:</span> {{vaga.cidade}} - {{vaga.estado}}</li>
    <li><span>Descricao:</span> {{vaga.descricao}}</li>
    <li><span>Salario:</span> {{vaga.salario}}</li>
    <li><span>Tipo:</span> {{vaga.tipo}}</li>
    <li><span>Turno:</span> {{vaga.turno}}</li>
    <li><span>Data publicada:</span> {{vaga.dataPublicada | date: 'dd/MM/yyyy'}}</li>
    <li>
      <div *ngIf="jaCandidadato;else candidatar">
        <a routerLink="/perfil">Candidatura Enviada! Ir para perfil</a>
      </div>

      <ng-template #candidatar>
        <button (click)="irParaCandidatura()">Candidatar-se</button>
      </ng-template>
    </li>
  </ul>
</div>
