span {
  font-weight: bold;
}
.perfil-titulo {
  display: flex;
  flex-direction: row;
  background-color: #336699;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.perfil-titulo>h2 {
  color: #FFF;
}
.div-dados {
  padding: 2vh;
}
label {
  display: flex;
  font-size: 25px;
  font-weight: bold;
  line-height: 35px;
  margin-bottom: 5px;
}
input {
  display: flex;
  margin-bottom: 15px;
}
.container {
  margin-right: 150px;
  margin-left: 150px;
}
input {
  padding-left: 10px;
  font-weight: 500;
  font-size: 20px;
  border: 1px solid #7b7f80;
  border-radius: 10px;
  top: 40px;
  width: 600px;
  height: 55px;
  display: flex;
}
button {
  margin-top: 3vh;
  font-size: 25px;
  padding: 15px;
}
