<div class="outer-div">
  <div class="perfil-titulo">
    <h2>Perfil</h2>
  </div>
  <div class="div-dados">
    <form [formGroup]="form" (submit)="atualizarInformacoes()">
      <label>Nome:</label>
      <input type="text" formControlName="nome" required />

      <label>CNPJ:</label>
      <input type="text" formControlName="cnpj" required />

      <label>Endereco:</label>
      <input type="text" formControlName="endereco" required />

      <label>Descricao:</label>
      <input type="text" formControlName="descricao" required />

      <label>Email:</label>
      <input type="text" formControlName="email" required/>

      <label>Telefone:</label>
      <input type="text" formControlName="telefone" />

      <button type="submit" class="btn btn-green">Atualizar</button>
    </form>
  </div>
</div>



