<div class="outer-div">
  <div class="perfil-titulo">
    <h2>Perfil</h2>
  </div>
  <div class="div-dados">

    <form [formGroup]="form" (submit)="atualizarInformacoes()">
      <div class="form-outline">
        <label >Nome:</label>
        <input type="text"  formControlName="nome" required />
      </div>

      <div >
        <label >CNPJ:</label>
        <input type="text"  formControlName="cnpj" required />
      </div>

      <div >
        <label >Endereco:</label>
        <input type="text"  formControlName="endereco" required />
      </div>

      <div >
        <label >Descricao:</label>
        <input type="text"  formControlName="descricao" required />
      </div>

      <div>
        <label >Email:</label>
        <input type="text"  formControlName="email" required/>
      </div>

      <div >
        <label >Telefone:</label>
        <input type="text" formControlName="telefone" />
      </div>

      <button type="submit" class="btn-green">Atualizar</button>
    </form>
  </div>
</div>



