.perfil-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 5vh;
}
.div-vagas {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
}
.div-perfil {
  display: flex;
  flex-direction: column;
  min-width: 30%;
  margin-right: 2vh;
  border-radius: 3px;
}
* {
  line-height: 35px;
}
#outer-div {
  margin-right: 150px;
  margin-left: 150px;
}
