.perfil-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 5vh;
}
.div-vagas {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  background-color: #d9f3f6;
}
.div-perfil {
  display: flex;
  flex-direction: column;
  min-width: 30%;
  margin-right: 2vh;
  border-radius: 3px;
  background-color: #d9f3f6;
}
* {
  line-height: 35px;
}
#outer-div {
  margin-right: 5vh;
  margin-left: 5vh;
}
