#pagina-meu-perfil{
  margin: 50px auto;
  width: 1440px;
}

.perfil-container{
  margin: 0 auto;
  width: 100%;
  display: table !important;
}

.div-perfil{
  width: 500px;
  display: table;
  float: left;
}

.div-vagas{
  width: 850px;
  display: table;
  float: right;
}