<div class="perfil-titulo">
  <h2>Perfil</h2>
  <button routerLink="/editar-p">Editar</button>
</div>
<div class="div-dados">
  <h2>{{usuario.informacoes.nome}}</h2>
  <p><span>Email: </span> {{usuario.informacoes.email}}</p>
  <p><span>Telefone:</span> {{usuario.informacoes.telefone || 'Não Informado'}}</p>
  <p><span>CRF:</span> {{pessoa.crf}}</p>
  <p>
    <span>Especialização:</span> {{pessoa.especializacao || 'Não Informada'}}
  </p>

  <div *ngIf="curriculo" id="curriculo">
    <p><span>Curriculo</span></p>
    <pdf-viewer [src]="curriculo.data"
                [original-size]="false"
                [autoresize]="true"
                style="width: 45vh; height: 45vh;">
    </pdf-viewer>
    <a [href]="curriculoUrl" [download]="curriculo.filename">Baixar</a>
  </div>
</div>
