span {
  font-weight: bold;
}
.perfil-titulo {
  display: flex;
  flex-direction: row;
  border: 2px solid dodgerblue;
  background-color: #b2e7ff;
  align-items: center;
  justify-content: space-between;
  padding: 1vh;
}
.perfil-titulo>span {
  margin: 5px 10px;
}
.perfil-titulo>button {
  display: flex;
  border: 2px solid #002e00;
  background-color: green;
  color: white;
  border-radius: 5px;
  margin: 5px 10px;
}
.div-dados {
  padding: 2vh;
}
p {
  font-size: 30px;
}
