<div class="perfil-titulo">
  <h2>Perfil</h2>
  <button routerLink="/editar-e">Editar</button>
</div>
<div class="div-dados">
  <h2>{{usuario.informacoes.nome}}</h2>
  <p><strong>Email: </strong> {{usuario.informacoes.email}}</p>
  <p><strong>Telefone:</strong> {{usuario.informacoes.telefone || 'Não Informado'}}</p>
  <p><strong>CNPJ:</strong> {{empresa.cnpj}}</p>
  <p><strong>Endereço:</strong> {{empresa.endereco || 'Não Informado'}}</p>
  <p><strong>Descrição:</strong> {{empresa.descricao}}</p>
</div>
