<h1>Liga Farma</h1>
<table>
  <tr>
    <div *ngIf="!usuario">
      <td><button routerLink="/cadastro/pessoa">Cadastro</button></td>
      <td><button routerLink="/login">Login</button></td>
    </div>
    <div *ngIf="usuario">
      <td><button routerLink="/perfil">Perfil</button></td>
      <td><button (click)="logout()">Logout</button></td>
    </div>
    <td><button routerLink="/vagas">Ver Vagas</button></td>
    <td><button routerLink="/sobre-nos">Sobre Nós</button></td>

    <div *ngIf="usuario?.tipo == 'EMPRESA'">
      <td><button routerLink="/minhas-vagas">Minhas Vagas</button></td>
      <td><button routerLink="/criar-vaga">Criar Vaga</button></td>
    </div>
    <div *ngIf="usuario?.tipo == 'PESSOA'">
      <td><button routerLink="/minhas-candidaturas">Minhas Candidaturas</button></td>
    </div>
  </tr>
</table>

<hr>
<router-outlet />
