<form [formGroup]="form" (submit)="cadastrarCliente()">
  <div class="cadastro-container">

    <div>
      <div class="cadastro-divlabel">
        <label class="label-text" for="nome">Razão Social</label>
      </div>

      <input
        id="nome"
        type="text"
        formControlName="nome"
        required
        placeholder="Insira a razão social"/>

    </div>

    <div>
      <div class="cadastro-divlabel">
        <label for="cnpj">CNPJ</label>
      </div>

      <input
        id="cnpj"
        type="text"
        class="cadastro-divinput"
        formControlName="cnpj"
        mask="00.000.000/0000-00"
        required
        placeholder="Insira o CNPJ"/>
    </div>

    <div>
      <div class="cadastro-divlabel">
        <label for="endereco">Endereço</label>
      </div>

      <input
        id="endereco"
        type="text"
        formControlName="endereco"
        required
        placeholder="Insira o Endereço"/>
    </div>

    <div>
      <div class="cadastro-divlabel">
        <label for="descricao">Descrição</label>
      </div>

      <input
        id="descricao"
        type="text"
        formControlName="descricao"
        required
        placeholder="Descrição do estabalecimento"/>
    </div>

    <div>
      <div class="cadastro-divlabel">
        <label for="email">Email</label>
      </div>

      <input
        id="email"
        type="email"
        formControlName="email"
        required
        placeholder="Insira seu email"/>
    </div>

    <div>
      <div class="cadastro-divlabel">
        <label for="telefone">Telefone</label>
      </div>

      <input
        id="telefone"
        type="text"
        formControlName="telefone"
        mask="(00)0000-0000||(00)00000-0000"
        required
        placeholder="Insira um telefone"/>
    </div>

    <div>
      <div class="cadastro-divlabel">
        <label for="senha">Senha</label>
      </div>

      <input
        id="senha"
        type="password"
        formControlName="senha"
        required
        placeholder="Crie uma senha"/>
    </div>

    <div class="div-submit">
      <button type="submit" class="btn-submit">Cadastrar</button>
    </div>

  </div>
</form>
