*{
  font-family: "Sora", sans-serif;
}
.block {
  display: block;
}

label {
  font-weight: 600;
  margin-left: 1vh;
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  text-align: left;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.cadastro-container {
  width:max-content;
  display: flex;
  flex-direction: column;
  overflow: auto;
  align-items: center;
}

.div-submit {
  display: flex;
  justify-content: center;
  margin-top:3vh;
  width: 100%;
}

.btn-submit {
  height: 40px;
  padding: 0px 20px 0px 20px;
  background-color: #057dc9;
  color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cadastro-buttontext {
  font-size: 20px;
  margin: auto;
}

.cadastro-divlabel {
  top: 5px;
  left: 10px;
  width: auto;
  height: 35px;
  display: flex;
  align-items: initial;
  flex-shrink: 0;
}

input {
  color: #000000;
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid rgba(217, 217, 217, 1);
  border-radius: 10px;
  top: 40px;
  left:0px;
  width: 400px;
  height: auto;
  display: flex;
  overflow: hidden;
  text-align: left;
}
.cadastro-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cadastro-container>div{
  margin: 10px 0px 5px 0px;
}
