<form [formGroup]="form" (submit)="cadastrarCliente()">
  <div class="cadastro-container">

    <div>
      <div class="cadastro-divlabel">
        <label class="label-text" for="nome">Nome</label>
      </div >

      <input
        id="nome"
        type="text"
        formControlName="nome"
        required
        placeholder="Insira seu nome completo"/>
    </div>

    <div>
      <div class="cadastro-divlabel">
        <label class="label-text" for="cpf">CPF</label>
      </div>

      <input
        id="cpf"
        type="text"
        formControlName="cpf"
        required
        placeholder="Insira seu CPF"/>
    </div>

    <div>
      <div class="cadastro-divlabel">
        <label class="label-text" for="crf">CRF</label>
      </div>

      <input
        id="crf"
        type="text"
        formControlName="crf"
        required
        placeholder="Insira seu CRF"/>

    </div>

    <div>
      <div class="cadastro-divlabel">
        <label class="label-text" for="email">Email</label>
      </div>

      <input
        id="email"
        type="text"
        formControlName="email"
        required
        placeholder="Insira seu email"/>

    </div >

    <div>
      <div class="cadastro-divlabel">
        <label class="label-text" for="telefone">
          <span>Telefone</span>
        </label >
      </div >

      <input
        id="telefone"
        type="text"
        formControlName="telefone"
        required
        placeholder="Digite seu telefone"/>

    </div >

    <div>
      <div class="cadastro-divlabel">
        <label class="label-text" for="senha">Senha</label>
      </div>

      <input
        id="senha"
        type="password"
        formControlName="senha"
        required
        placeholder="Crie uma senha"/>

    </div >

    <div>
      <div class="cadastro-divlabel">
        <label class="label-text">Currículo (PDF)</label >
      </div>

      <div class="cadastro-curriculoinput">
        <input
          type="file"
          (change)="onFileSelected($event)"
          accept=".pdf"/>

        <div *ngIf="selectedFile" id="curriculo">
          <pdf-viewer
            [src]="fileUrl"
            [original-size]="false"
            [autoresize]="true"
            style="width: 40vh; height: 45vh; border: 2px black solid">
          </pdf-viewer>
        </div>

      </div>
  </div>

  <div class="div-submit">
    <button type="submit" class="btn-submit">Cadastrar</button>
  </div>
</div >
</form>
