*{
  font-family: "Sora", sans-serif;
  transition: 700ms;
}
:host {
  display: contents;
}
label {
  font-weight: 600;
  margin-left: 1vh;
}
.cadastro-container {
  width:max-content;
  display: flex;
  flex-direction: column;
  overflow: auto;
  align-items: center;
}
.cadastro-divbutton {
  background-color: #057dc9;
  color: rgba(255, 255, 255, 1);
  display: flex;
  border-radius: 4px;
  justify-content: center;
  width: auto;
  padding: 0px 20px 0px 20px;
  height: 40px;
  margin: 10px 10px 0px 10px;
}
.submit-button {
  display: flex;
  justify-content: center;
  margin-top:3vh;
}
.cadastro-buttontext {
  font-size: 20px;
  margin: auto;
}

.label-text{
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 18px;
  text-align: left;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.cadastro-divlabel {
  top: 5px;
  left: 10px;
  width: auto;
  height: 35px;
  display: flex;
  /*position: absolute;*/
  align-items: center;
  flex-shrink: 0;
}
.cadastro-divinput {
  color: #000000;
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid rgba(217, 217, 217, 1);
  border-radius: 10px;
  top: 40px;
  left:0px;
  width: 400px;
  height: auto;
  display: flex;
  overflow: hidden;
  text-align: left;
}

.cadastro-container>div{
  margin: 10px 0px 5px 0px;
}

/* == GRUPOS == */

.cadastro-nomegroup {
/*  top: 0px;*/
/*  left: 0px;*/
/*  width: 600px;*/
/*  height: 100px;*/
/*  margin-top: 10px;*/
/*  display: flex;*/
/*  position: absolute;*/
/*  align-items: flex-start;*/
/*  flex-shrink: 1;*/
/*}*/
/*.cadastro-cpfgroup {*/
/*  top: 100px;*/
/*  left: 0px;*/
/*  width: 600px;*/
/*  height: 100px;*/
/*  margin-top: 10px;*/
/*  display: flex;*/
/*  position: absolute;*/
/*  align-items: flex-start;*/
/*  flex-shrink: 1;*/
/*}*/
/*.cadastro-crfgroup {*/
/*  top: 200px;*/
/*  left: 0px;*/
/*  width: 600px;*/
/*  height: 100px;*/
/*  margin-top: 10px;*/
/*  display: flex;*/
/*  position: absolute;*/
/*  align-items: flex-start;*/
/*  flex-shrink: 1;*/
}
.cadastro-senhagroup {
/*  top: 300px;*/
/*  left: 0px;*/
/*  width: 600px;*/
/*  height: 100px;*/
/*  margin-top: 10px;*/
/*  display: flex;*/
/*  position: absolute;*/
/*  align-items: flex-start;*/
/*  flex-shrink: 1;*/
}
.cadastro-telefonegroup {
  /*top: 400px;
  left: 0px;
  width: 600px;
  height: 100px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;*/
}
.cadastro-curriculogroup {
  /*margin: none;
  top: 500px;
  left: 0px;
  width: 600px;
  height: 100px;
  margin-top: 10px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;*/
}

/* == OTIMIZAÇÕES A PARTIR DAQUI == */

.cadastro-curriculoinput{
  /*margin-top: 45px;*/
}

.titulo-text {
  /*color: rgba(0, 0, 0, 1);*/
  /*height: auto;*/
  /*font-size: 40px;*/
  /*font-style: Medium;*/
  /*text-align: left;*/
  /*font-weight: 500;*/
  /*line-height: normal;*/
  /*font-stretch: normal;*/
  /*text-decoration: none;*/
}
