<div class="outer-div">
  <div class="perfil-titulo">
    <h2>Perfil</h2>
  </div>
  <div class="div-dados">
    <form [formGroup]="form" (submit)="atualizarInformacoes()">
      <div class="form-outline">
        <label class="form-label">Nome:</label>
        <input type="text" class="form-control" formControlName="nome" required />
      </div>

      <div class="form-outline">
        <label class="form-label">Especialização: </label>
        <input type="text" class="form-control" formControlName="especializacao" required />
      </div>

      <div>
        <label class="form-label">Email:</label>
        <input type="text" class="form-control" formControlName="email" required/>
      </div>

      <div class="form-outline">
        <label class="form-label">Telefone:</label>
        <input type="text" class="form-control" formControlName="telefone" />
      </div>

      <br>
      <button type="submit" class="btn-green">Atualizar</button>
    </form>

  </div>

</div>


