<div class="container">
  <div class="perfil-titulo">
    <h2>Perfil</h2>
  </div>

  <div class="div-dados">
    <a href="/esqueci-senha" class="btn btn-blue">Atualizar senha</a>

    <form [formGroup]="form" (submit)="atualizarInformacoes()">
      <label>Nome:</label>
      <input type="text" formControlName="nome" required />

      <label>Telefone:</label>
      <input type="text" formControlName="telefone" />

      <label>Especialização: </label>
      <input type="text" formControlName="especializacao" required />

      <label class="label-text">Currículo (PDF)</label >
      <input type="file" (change)="onFileSelected($event)" accept=".pdf"/>

      <div *ngIf="fileUrl" id="curriculo">
        <pdf-viewer
          [src]="fileUrl"
          [original-size]="false"
          [autoresize]="true"
          style="width: 40vh; height: 45vh; border: 2px black solid">
        </pdf-viewer>
      </div>

      <button type="submit" class="btn btn-green">Atualizar</button>
    </form>
  </div>
</div>
