<section id="candidatura">
  <h1>Candidatura</h1>
  <div id="detalhes-vaga">
    <ul *ngIf="vaga">
      <li><strong>Vaga {{vaga.id}}</strong></li>
      <li><span>Empresa: </span> {{vaga.farmacia.nome}}</li>
      <li><span>Local: </span> {{vaga.cidade}} - {{vaga.estado}}</li>
      <li><span>Descricao: </span> {{vaga.descricao}}</li>
      <li><span>Salario: </span> {{vaga.salario | currency: 'BRL'}}</li>
      <li><span>Tipo: </span> {{vaga.tipo}}</li>
      <li><span>Turno: </span> {{vaga.turno}}</li>
      <li><span>Data publicada: </span> {{vaga.dataPublicada | date: 'dd/MM/yyyy'}}</li>
    </ul>
  </div>

  <div id="perfil" *ngIf="perfil">
    <h2>Meu Perfil</h2>
    <ul>
      <li>Nome: {{perfil.nome}}</li>
      <li>Email: {{perfil.email}}</li>
      <li>Telefone: {{perfil.telefone}}</li>
    </ul>

    <div *ngIf="file" id="curriculo">
      <h2>Curriculo</h2>
      <pdf-viewer [src]="file.data"
                  [original-size]="false"
                  [autoresize]="true"
                  style="width: 40vh; height: 45vh;">
      </pdf-viewer>
    </div>
  </div>

  <div id="mensagem-empresa">
    <form [formGroup]="perfilForm">
      <label>Mensagem para a empresa:</label><br>
      <textarea formControlName="mensagem"></textarea>
    </form>
    <button (click)="enviarCandidatura()">Enviar</button>
  </div>
</section>

