<form style="width: 23rem;" [formGroup]="form" >
  <h3>Cliente</h3>

  <div class="form-outline ">
    <label class="form-label">Email</label>
    <input type="text" class="form-control" formControlName="email" required/>
  </div>

  <div class="form-outline ">
    <label class="form-label">Senha</label>
    <input type="password" class="form-control" formControlName="senha" required/>
  </div>

  <div class="form-outline">
    <label class="form-label">Nome</label>
    <input type="text" class="form-control" formControlName="nome" required />
  </div>

  <div class="form-outline">
    <label class="form-label">Telefone</label>
    <input type="text" class="form-control" formControlName="telefone" required />
  </div>

  <form (ngSubmit)="onSubmit()">
    <p>Curriculo</p>
    <input type="file" (change)="onFileSelected($event.target)" accept=".pdf">
    <button type="submit">Upload</button>
  </form>
  <div *ngFor="let pdf of pdfs">
    <button (click)="onSelectPdf(pdf)">{{ pdf.filename }}</button>
  </div>

  <div *ngIf="selectedPdf">
    <pdf-viewer [src]="selectedPdf.data"
                style="display: block; width: 100%; height: 90vh;">
    </pdf-viewer>
  </div>

</form>

<p>{{debug | json}}</p>
