a {
  text-decoration: none;
  color: black;
}
a:hover {
  cursor: pointer;
}

#barra-filtros {
  border: 2px solid gray;
  padding: 5px;
}

#container {
  display: inline-flex;
  flex-wrap: nowrap;
}

#lista {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-right: 2em;
}

#vaga {
  border: 2px blue solid;
  width: 50%;
}
