*{
  font-family: "Sora", sans-serif;
  transition: 700ms;
}
.top {
  display: flex;
  flex-direction: column;
}
label {
  font-weight: 600;
  margin-left: 1vh;
  color: rgba(0, 0, 0, 1);
  line-height: 5px;
  top: 5px;
  left: 10px;
  width: auto;
  height: 35px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cadastro-container {
  width:max-content;
  display: flex;
  flex-direction: column;
  overflow: auto;
  align-items: center;
}
input {
  color: #000000;
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid rgba(217, 217, 217, 1);
  border-radius: 10px;
  top: 40px;
  left:0;
  width: 400px;
  height: auto;
  display: flex;
  overflow: hidden;
  text-align: left;
}
.cadastro-container>div{
  margin: 10px 0 5px 0;
}
.cadastro-divbutton {
  background-color: #057dc9;
  color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0 20px;
  height: 40px;
  margin-top: 20px;
}

/* MEU */
#container {
  display: flex;
  margin-bottom: 4vh;
}
#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}
#image {
  height: 100%;
  overflow: clip;
}
#image>img {
  height: 100%;
}
