<div id="container">
  <div id="form">
    <h2>Bem-Vindo!</h2>
    <strong id="heading">Acesse sua conta:</strong>

    <form [formGroup]="form" (submit)="logarCliente()">
      <label for="email">Email</label>
      <input
        id="email"
        type="text"
        formControlName="email"
        required="required"
        placeholder="Insira seu email"/>

      <label for="senha">Senha</label>
      <input
        id="senha"
        type="password"
        formControlName="senha"
        required="required"
        placeholder="Insira sua senha"/>

      <a routerLink="/esqueci-senha" class="a-reset">Esqueci minha senha</a>

      <div id="div-btn">
        <button type="submit">Login</button>
      </div>

    </form>
  </div>

  <div id="image">
    <img ngSrc="assets/imagem_login.jpeg"
         alt="Seringa no meio de frascos" height="550" width="850">
  </div>
</div>

