<header>
  <div id="div-logo">
    <a class="btn-home" routerLink="/home">
      <img ngSrc="assets/LigaFarma-logo-header.png" width="170" height="58"
           alt="Logo Liga Farma Colorido">
    </a>
  </div>

  <nav>
    <div class="general-menu">
      <button routerLink="/home">Home</button>
      <button routerLink="/sobre-nos">Sobre Nós</button>
      <button routerLink="/contato">Contato</button>
      <button routerLink="/vagas">Ver Vagas</button>
    </div>

    <div class="user-menu">
      <div class="div-login-cadastro" *ngIf="!usuario">
        <button class="btn-login" routerLink="/login">Entrar</button>
        <button class="btn-cadastro" routerLink="/cadastro/pessoa">Cadastre-se</button>
      </div>
      <div class="div-perfil-logout" *ngIf="usuario">
        <button class="btn-perfil" routerLink="/perfil">Perfil</button>
        <button class="btn-logout" (click)="logout()">Logout</button>
      </div>
    </div>
  </nav>
</header>
