* {
  font-size: 2vh;
}
header{
  background-color: #FFF;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 135px;
}
#div-logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 1vh;
  margin-right: 4vh;
}
nav {
  display: flex;
  flex-wrap: wrap;
  flex: auto;
  justify-content: space-between;
}

.user-menu > div > button {
  text-transform: initial;
}

button {
  text-transform: uppercase;
  margin-right: 2vh;
}

button:not(.btn-home){
    padding: 20px 10px;
}

button:hover{
    color: #16C1EB;
}

button:active{
    color: #336699;
}

.btn-login, .btn-perfil{
    background-color: #FFF;
    color: #16C1EB;
    border: 1px solid #16C1EB;
}

.btn-cadastro{
    background-color: #16C1EB;
    color: #FFF;
}

.btn-logout{
    background-color: #878b8c;
    color: #FFF;
}

.btn-logout:hover, .btn-cadastro:hover, .btn-login:hover, .btn-perfil:hover{
    background-color: #336699;
    color: #FFF;
    border: none;
}

@media screen and (max-width: 902px) {
  header, nav, .general-menu, .user-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
  }
  #div-logo {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
}
