#nova-vaga{
    margin: 0px auto 50px auto !important;
    width: 1440px;
    display: table;
}

#nova-vaga aside{
    float: left;
    width: calc(100% - 780px);
    display: table;
    margin-top: 50px;
}

#nova-vaga aside h2{
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 400;
}

#nova-vaga image{
    float: right;
}

#nova-vaga aside label{
    font-size: 16px;
    color: #000;
    font-weight: 400;
    display: table;
    margin-bottom: 10px;
}
#nova-vaga aside input{
    display: table;
}
#nova-vaga aside input, #nova-vaga aside textarea, select{
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    width: 90%;
    font-size: 14px;
    padding: 10px;
}

#nova-vaga aside textarea{
    margin-bottom: 20px;
    resize: vertical;
}

#nova-vaga aside input[type=number]::-webkit-inner-spin-button {
    height: 50px;
}

#nova-vaga aside button{
    background-color: #1976D2;
    color: #FFF;
    border: 1px solid #3A5B22;
    padding: 10px 200px;
    border-radius: 10px;
    margin: 30px auto !important;
    display: table;
}

#nova-vaga aside button:hover{
    background-color: #336699;
    color: #FFF;
}
