<section id="nova-vaga">
  <aside>
    <h2>Nova Vaga</h2>
    <form [formGroup]="vagaForm" (submit)="criarVaga()">

      <label>Titulo:</label>
      <input type="text" formControlName="titulo">
      <br>
      <label> Estado:</label>
      <input type="text" formControlName="estado">
      <br>
      <label> Cidade:</label>
      <input type="text" formControlName="cidade">
      <br>
      <label> Quantidade de vagas:</label>
      <input type="number" formControlName="quantidadeVagas">
      <br>
      <label>Descrição:</label>
      <textarea type="text" formControlName="descricao" > </textarea>
      <br>
      <label>Turno:</label>
      <input type="text" formControlName="turno">
      <br>
      <label>Salário:</label>
      <input type="number" formControlName="salario">
      <br>
      <label> Tipo:</label>
      <select formControlName="tipo">
        <option *ngFor="let tipo of tipoVagas" [value]="tipo">
          {{tipo}}
        </option>
      </select>
      <br>

      <button type="submit">Criar</button>
    </form>
  </aside>

  <img src="assets/bg-img-01-cadastro.jpg" width="780">

</section>
