.container {
  margin-bottom: 3vh;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  max-height: 911px;
  overflow: auto;
}

.column {
  display: inline-flex;
  flex: 0 0 55%;
  max-width: 50%;
  align-items: center;
}

.content {
  width: max-content;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

#heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#heading>div{
  margin: 20px 0;
  display: flex;
  flex-direction: row;
}

#heading>div>button {
  background-color: #057dc9;
  color: rgba(255, 255, 255, 1);
  display: flex;
  border-radius: 4px;
  justify-content: center;
  width:183px;
  padding: 0px 20px 0px 20px;
}

#heading>div>button>span{
  margin: auto;
  font-size: 18px;
}

button {
  margin-right: 10px;
  margin-bottom: 10px;
  height: 40px;
}

#router {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  overflow-y: auto;
}

#image {
  overflow: clip;
}

#image>img {
  height: 100%;
}
