<section class="vh-100">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 text-black" id="form">
        <div class="content">
          <div>
            <h2 class="heading">Cadastre-se Já</h2>
            <button routerLink="pessoa">Como profissional</button>
            <button routerLink="empresa">Como empresa</button>
          </div>

          <div id="router">
            <router-outlet></router-outlet>
          </div>
        </div>

      </div>

      <div class="col-sm-6 vh-100 cadastro-imagem1" id="image">
        <img src="./assets/imagem_cadastro.jpeg"
             alt="Login image" class="image vh-100">
      </div>

    </div>
  </div>
</section>
