<div class="container">
<div class="wrap">
  <div class="left">
    <div class="row">
      <div class="column" id="form">
        <div class="content">

          <div id="heading">
            <h2>Cadastre-se Já</h2>
            <div>
              <button routerLink="pessoa"><span>FARMACÊUTICO</span></button>
              <button routerLink="empresa"><span>FARMÁCIA</span></button>
            </div>
          </div>

          <div id="router">
            <router-outlet></router-outlet>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="right" id="div-image">
    <img src="assets/imagem_cadastro.jpeg"
         alt="Login image" class="image">
  </div>
</div>
</div>
