#banner-topo{
  margin: 0 auto;
  margin-bottom: 150px;
  width: 100%;
  background-image: url("../../../../assets/bg-img-01-sobre-nos.jpg");
  display: block;
  background-position: top center;
  background-repeat: no-repeat;
  height: 422px;
  position: relative;
}

#banner-topo-quadrado{
  padding-top: 100px;
  padding-bottom: 20px;
  width: 1035px;
  background-color: #F6FEFF;
  position: absolute;
  bottom: 0;
  left: calc(50% - 1035px/2);
}

#banner-topo-quadrado h1{
  text-align: center;
}

#banner-topo-quadrado h1 #poucas-palavras{
  font-size: 24px;
  color: #000;
  font-weight: 100;
}

#banner-topo-quadrado h1 #a-liga-farma{
  font-size: 64px;
  color: #1D57B0;
  font-weight: 400;
}

#conteudo{
  margin: 0 auto;
  margin-bottom: 150px;
  width: 1440px;
  display: table;
}

#conteudo h2{
  color: #000;
  font-size: 42px;
  font-weight: 400;
}

#conteudo p{
  color: #000;
  font-size: 32px;
  font-weight: 400;
}

#conteudo div{
  float: left;
}

#conteudo-esquerda{
  width: 50%;
}

#conteudo-esquerda h2{
  margin-bottom: 65px;
}

#conteudo-esquerda p{
  margin-bottom: 55px;
  line-height: 1.2em;
}
#conteudo-direita{
  width: 50%;
}

#conteudo-redes-sociais{
  width: 100%;
}

#conteudo-redes-sociais p{
  float: left;
  margin-right: 50px;
}
#conteudo-redes-sociais img{
  margin-right: 50px;
}
