<div class="sobrenos-sobrenos"><img
    src="../../../assets/rectangle12617-el86-200h.png"
    alt="Rectangle12617"
    class="sobrenos-rectangle1"/>
    <img
        src="../../../assets/ligafarmapubli12931-65ym-500h.png"
        alt="LigaFarmapubli12931"
        class="sobrenos-liga-farmapubli1"/><img
        src="../../../assets/rectangle1172931-n5v.svg"
        alt="Rectangle1172931"
        class="sobrenos-rectangle117"/><img
        src="../../../assets/ligafarma12630-yi4-200h.png"
        alt="LigaFarma12630"
        class="sobrenos-liga-farma1"/>
    <span class="sobrenos-text14">
        <span>A Liga Farma</span>
    </span>
    <span class="sobrenos-text16">
        <span>EM POUCAS PALAVRAS</span>
    </span>
    <span class="sobrenos-text18">
        <span>O Grupo Liga Farma</span>
    </span>
    <span class="sobrenos-text20">
        <span>Na Farma Liga, simplificamos a conexão entre farmacêuticos e farmácias.
            <span></span>
        </span><br/>
        <span></span><br/>
        <span>Nossa plataforma facilita a colaboração, oferece oportunidades de emprego,
            recursos profissionais e ferramentas para otimizar operações.
            <span></span>
        </span><br/>
        <span></span><br/>
        <span>Estamos comprometidos em promover a excelência na saúde através da
            inovação e da união de mentes brilhantes.
            <span></span>
        </span><br/>
        <span></span><br/>
        <span>Junte-se a nós e faça parte dessa revolução na indústria farmacêutica!</span>
    </span><img
        src="../../../assets/line42631-ol1p.svg"
        alt="Line42631"
        class="sobrenos-line4"/><img
        src="/assets/rectangle1182857-gvhp-800h.png"
        alt="Rectangle1182857"
        class="sobrenos-rectangle118"/><img
        src="../../../assets/socialicons2874-5tgm.svg"
        alt="SocialIcons2874"
        class="sobrenos-social-icons"/>
    <span class="sobrenos-text34">
        <span>Siga nossas redes</span><br/>
        <span>sociais:</span>
    </span>
</div>
