<h1>O Grupo Liga Farma</h1>
<div id="texto">
    <p>Na Farma Liga, simplificamos a conexão entre farmacêuticos e farmácias.</p>

    <p>Nossa plataforma facilita a colaboração, oferece oportunidades de emprego, recursos profissionais e ferramentas
        para otimizar operações.</p>

    <p>Estamos comprometidos em promover a excelência na saúde através da inovação e da união de mentes brilhantes.</p>

    <p>Junte-se a nós e faça parte dessa revolução na indústria farmacêutica!</p>
</div>


<img src="../../../../assets/Farmaceutico.jpeg" alt="" width="1000px" height="1000px">