<section id="banner-topo">
    <div id="banner-topo-quadrado">
        <h1>
            <span id="poucas-palavras">EM POUCAS PALAVRAS</span><br>
            <span id="a-liga-farma">A Liga Farma</span>
        </h1>
    </div>
</section>
<section id="conteudo">
    <div id="conteudo-esquerda">
        <h2>O Grupo Liga Farma</h2>
        <p>Na Liga Farma, simplificamos a conexão entre farmacêuticos e farmácias.</p>
        <p>Nossa plataforma facilita a colaboração, oferece oportunidades de emprego, recursos profissionais e ferramentas para otimizar operações.</p>
        <p>Estamos comprometidos em promover a excelência na saúde através da inovação e da união de mentes brilhantes.</p>
        <p>Junte-se a nós e faça parte dessa revolução na indústria farmacêutica!</p>
    </div>
    <div id="conteudo-direita">
        <img ngSrc="assets/bg-img-02-sobre-nos.jpg" width="718" height="706" alt="Farmacêutico segurando um tablet em um corredor com remédios">
    </div>
    <div id="conteudo-redes-sociais">
        <p>Siga nossas redes <br>sociais:</p>
        <img ngSrc="assets/logo-instagram-bw.png" width="48" height="48" alt="logotipo instagram">
        <img ngSrc="assets/logo-facebook-bw.png" width="48" height="48" alt="logotipo facebook">
    </div>
</section>
