<section id="section-lista-vagas">

  <div id="container-vagas">
    <div *ngFor="let vaga of vagas" class="containver-vaga">
      <a (click)="mudarVagaSelecionada(vaga)">
        <img src="./assets/star.png" height="80" width="80" alt="Estrela azul">
        <ul>
          <li><strong>{{vaga.titulo}}</strong></li>
          <li><span>Local: {{vaga.cidade}} - {{vaga.estado}}</span></li>
          <li><span>Quantidade Vagas: {{vaga.quantidadeVagas}}</span></li>
        </ul>
      </a>
    </div>
  </div>

  <div id="vaga" *ngIf="vagaSelecionada">
    <app-vaga-pagina [vaga]="vagaSelecionada"
                    (vagaDeselecionadaEvent)="mudarVagaSelecionada(null)">
    </app-vaga-pagina>
  </div>

</section>
