<p id="barra-filtros">Barra de filtros placeholder</p>

<div id="container">
  <div id="lista">
    <ul *ngFor="let vaga of vagas" class="square">
      <a (click)="mudarVagaSelecionada(vaga)">
        <strong>Vaga {{vaga.id}}</strong>
        <li>Local: {{vaga.cidade}} - {{vaga.estado}}</li>
        <li>Quantidade Vagas: {{vaga.quantidadeVagas}}</li>
        <li>Salario: {{vaga.salario | currency: 'BRL'}}</li>
      </a>
    </ul>
  </div>

  <div id="vaga" *ngIf="vagaSelecionada">
    <app-vaga-pagina [vaga]="vagaSelecionada"
                     (vagaDeselecionadaEvent)="mudarVagaSelecionada(null)">
    </app-vaga-pagina>
  </div>
</div>

