<p id="barra-filtros">Barra de filtros placeholder</p>

<div id="container">
  <div id="lista">
    <ul *ngFor="let vaga of vagas" class="square">
      <a (click)="mudarVagaSelecionada(vaga)">
        <strong>{{vaga.titulo}}</strong> <br>
        <strong>{{vaga.farmacia.nome}}</strong>
        <li>{{vaga.cidade}} - {{vaga.estado}}</li>
        <li>Publicada em {{vaga.dataPublicada | date: 'dd/MM/YYYY'}}</li>
      </a>
    </ul>
  </div>

  <div id="vaga" *ngIf="vagaSelecionada">
    <app-vaga-pagina [vaga]="vagaSelecionada"
                     (vagaDeselecionadaEvent)="mudarVagaSelecionada(null)">
    </app-vaga-pagina>
  </div>
</div>

