<section id="topo-contato">
    <div id="titulo-contato">
        <h1>Contato</h1>
    </div>
</section>
<section id="conteudo">
    <h4>Fale conosco <span><img src="../../../../assets/telefone.png" alt="Símbolo de Telefone"></span></h4>
    <form (submit)="enviarMensagem()">
        <fieldset>
            <label for="" class="label-campo">Nome</label><br>
            <input type="text" name="" id=""><br>
        </fieldset>

        <fieldset>
            <label for="" class="label-campo">Sobrenome</label><br>
            <input type="text" name="" id=""><br>
        </fieldset>

        <fieldset>
            <label for="" class="label-campo">E-mail</label><br>
            <input type="email" name="" id=""><br>
        </fieldset>

        <fieldset>
            <label for="" class="label-campo">Telefone</label><br>
            <input type="tel" name="" id=""><br>
        </fieldset>

        <fieldset>
            <label for="" id="label-textarea">Em que podemos de ajudar?</label><br>
            <textarea name="" id="" cols="50" rows="8"></textarea><br>
        </fieldset>

        <fieldset>
            <button type="submit">Enviar</button>
        </fieldset>

    </form>
</section>
