<section id="topo-contato">
    <div id="titulo-contato">
        <h1>Contato</h1>
    </div>
</section>
<section id="conteudo">
    <h4>Fale conosco
      <span><img src="assets/telefone.png" alt="Símbolo de Telefone"></span>
    </h4>

    <form (submit)="enviarMensagem()" [formGroup]="form">
        <fieldset>
            <label for="nome" class="label-campo">Nome</label><br>
            <input type="text" name="" id="nome" formControlName="nome"><br>
        </fieldset>

        <fieldset>
            <label for="sobrenome" class="label-campo">Sobrenome</label><br>
            <input type="text" name="" id="sobrenome" formControlName="sobrenome"><br>
        </fieldset>

        <fieldset>
            <label for="email" class="label-campo">E-mail</label><br>
            <input type="email" name="" id="email" formControlName="email"><br>
        </fieldset>

        <fieldset>
            <label for="telefone" class="label-campo">Telefone</label><br>
            <input type="tel" name="" id="telefone" formControlName="telefone"><br>
        </fieldset>

        <fieldset>
            <label for="mensagem" id="label-textarea">Em que podemos de ajudar?</label><br>
            <textarea name="" id="mensagem" cols="50" rows="8" formControlName="mensagem"></textarea><br>
        </fieldset>

        <fieldset>
            <button type="submit">Enviar</button>
        </fieldset>
    </form>
</section>
