<div class="candidatura-div">
  <h2>Minhas Vagas</h2>
  <button class="btn-criar" routerLink="/criar-vaga">+ Criar vaga</button>
</div>
<div *ngFor="let vaga of vagas">
  <div class="div-status">
    <p><strong>{{vaga.titulo}}</strong></p>
    <p [class]="getStatusClass(vaga.status)">
      {{getStatusFormatado(vaga.status)}}
    </p>
    <div *ngIf="vaga.status == 'ABERTA'">
      <button (click)="fecharVaga(vaga)" class="btn-red">Fechar vaga</button>
    </div>
  </div>

  <p><strong>Local:</strong> {{vaga.cidade}} - {{vaga.estado}}</p>
  <p><strong>Descricao:</strong> {{vaga.descricao}}</p>
  <p><strong>Quantidade de Vagas:</strong> {{vaga.quantidadeVagas}}</p>
  <p><strong>Salario:</strong> {{vaga.salario | currency: 'BRL'}}</p>
  <p><strong>Tipo:</strong> {{vaga.tipo}}</p>
  <p><strong>Turno:</strong> {{vaga.turno}}</p>
  <p><strong>Data publicada:</strong> {{vaga.dataPublicada | date: 'dd/MM/yyyy'}}</p>

  <div *ngIf="vaga.candidaturas.length">
    <strong>Candidaturas</strong>

    <ul *ngFor="let candidatura of vaga.candidaturas">
      <p>Candidato: {{candidatura.farmaceutico.nome}}</p>
      <p>Mensagem:{{candidatura.mensagem}}</p>

      <div *ngIf="candidatura.contrato; else enviar">
        <p>Status:{{candidatura.contrato.status}}</p>
      </div>
      <ng-template #enviar>
        <button (click)="aceitarCandidatura(candidatura, vaga)">
          Aceitar candidatura
        </button>
      </ng-template>

    </ul>
  </div>
  <hr>
</div>
