.candidatura-div, .vaga{
  padding: 20px;
  display: table;
  width: 100%;
}

.candidatura-div{
  background-color: #336699;
}

.candidatura-div h2{
  color: #FFF;
  float: left;
}

.candidatura-div button{
  float: right;
  color: #FFF;
  padding: 10px 20px;
  background-color: #2D3944;
  border-radius: 10px;
}

.candidatura-div button:hover{
  background-color: #CDE6FF;
  color: #000;
}

.vaga{
  background-color: #FFF;
}

.vaga h2{
  margin-bottom: 20px;
}

.vaga li{
  margin-bottom: 10px;
}

.vaga-aberta{
  border: 1px solid yellowgreen;
}

.vaga-candidaturas{
  padding: 20px;
  background-color: #EFEFEF;
}

.vaga-candidaturas strong{
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 20px;
  display: table;
}

.vaga-candidatura{
  border: 1px solid lightgray;
  background-color: #FFF;
  padding: 10px;
  margin-bottom: 20px;
}

.vaga-candidatura span{
  font-weight: 600;
}

.vaga-candidatura button{
  background-color: #1976D2;
  color: #FFF;
  border: 1px solid #3A5B22;
  padding: 10px 200px;
  border-radius: 10px;
  margin: 30px auto !important;
  display: table;
}

.vaga-candidatura button:hover{
  background-color: #336699;
  color: #FFF;
}

