strong {
  font-weight: bold;
}
hr {
  color: black;
}
.candidatura-div {
  display: flex;
  flex-direction: row;
  border: 2px solid dodgerblue;
  background-color: #b2e7ff;
  align-items: center;
  justify-content: space-between;
  padding: 1vh;
}
.div-candidaturas {
  border: 2px #370000 solid;
  border-radius: 6px;
  background-color: #006ca5;
  padding: 0.5vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.btn-green {
  border: 2px green solid;
  border-radius: 6px;
  background-color: #51ff51;
  padding: 0.5vh;
}
p {
  font-size: 25px;
}
.div-status {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.div-status > div {
  margin-left: 1vh;
}
.div-status > p {
  margin-right: 1vh;
}
.btn-criar {
  background-color: #0EBFEB;
  border: 3px solid #004a7a;
  border-radius: 5px;
  padding: 1vh;
}
