strong {
  font-weight: bold;
}
hr {
  color: black;
}
.div-titulo {
  display: flex;
  flex-direction: row;
  border: 2px solid dodgerblue;
  background-color: #b2e7ff;
  align-items: center;
  justify-content: space-between;
  padding: 1vh;
}
.div-candidaturas {
  border: 2px #370000 solid;
  border-radius: 6px;
  background-color: #0084c8;
  padding: 0.5vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
p {
  font-size: 25px;
}
.div-status {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.div-status > div {
  margin-left: 1vh;
}
.div-status > p {
  margin-right: 1vh;
}
.btn-criar {
  background-color: #3dd7ff;
  border: 3px solid #00426c;
  border-radius: 5px;
  padding: 1vh;
}
.div-candidatura {
  border: 1px solid #003380;
  background-color: #4688ff;
  border-radius: 5px;
  padding: 1vh;
  margin: 1vh 0.5vh 0.5vh;
}

.div-candidatura > button {
  margin-top: 10px;
}

.btn-green {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}
.btn-green:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.btn-green:hover {
  background-color: #2c974b;
}

.btn-green:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}
.btn-green:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.btn-green:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
