<div class="div-titulo">
  <h2>Minhas Vagas</h2>
  <button class="btn-criar" routerLink="/criar-vaga">+ Criar vaga</button>
</div>
<div *ngFor="let vaga of vagas;let vagaIndex=index">
  <div class="div-status">
    <p><strong>{{vaga.titulo}}</strong></p>
    <p [class]="getStatusClass(vaga.status)">
      {{getStatusFormatado(vaga.status)}}
    </p>
    <div *ngIf="vaga.status == 'ABERTA'">
      <button (click)="fecharVaga(vaga)" class="btn-red">Fechar vaga</button>
    </div>
  </div>

  <p><strong>Local:</strong> {{vaga.cidade}} - {{vaga.estado}}</p>
  <p><strong>Descricao:</strong> {{vaga.descricao}}</p>
  <p><strong>Quantidade de Vagas:</strong> {{vaga.quantidadeVagas}}</p>
  <p><strong>Salario:</strong> {{vaga.salario | currency: 'BRL'}}</p>
  <p><strong>Tipo:</strong> {{vaga.tipo}}</p>
  <p><strong>Turno:</strong> {{vaga.turno}}</p>
  <p><strong>Data publicada:</strong> {{vaga.dataPublicada | date: 'dd/MM/yyyy'}}</p>

  <div *ngIf="vaga.candidaturas.length" class="div-candidaturas">
    <strong>Candidaturas</strong>

    <div *ngFor="let candidatura of vaga.candidaturas" class="div-candidatura">
      <p><strong>Candidato:</strong> {{candidatura.farmaceutico.nome}}</p>
      <p><strong>Email:</strong> {{candidatura.farmaceutico.email}}</p>
      <div *ngIf="candidatura.mensagem">
        <p><strong>Mensagem:</strong> {{candidatura.mensagem}}</p>
      </div>

      <div *ngIf="candidatura.contrato; else enviar">
        <p>Status: {{getContratoStatusString(candidatura.contrato.status)}}</p>
      </div>
      <ng-template #enviar>
        <button (click)="aceitarCandidatura(candidatura, vaga, vagaIndex)" class="btn-blue">
          Aceitar candidatura
        </button>

        <div *ngIf="contrato && index==vagaIndex">
          <app-contrato [contrato]="contrato"
                        (contratoAtualizado)="atualizarContrato($event)">
          </app-contrato>
        </div>
      </ng-template>

    </div>
  </div>
  <hr>
</div>
